@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
  font-family: "San Francisco", "Helvetica";
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  text-align: center;
  background-color: #34495e;
}

#root{
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  color: #8A64FF;
  box-shadow: 0px 3px 9px -1px rgba(0,0,0,0.44)
  ;
}

textarea {
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  color: black;
  box-shadow: 0px 3px 9px -1px rgba(0,0,0,0.44)
  ;
}

.button-wrapper button {
  background-color: #8A64FF;
  padding: 1px 3px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 3px 9px -1px rgba(0,0,0,0.44);
  cursor: pointer;
}

.delete-btn {
  color: black;
  background-color: none;
  cursor: pointer;
  border-radius: 50%;
}

.delete-btn:hover {
  background-color: lightgray;
}

.send-area, .read-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-area{
  height: 30%;
  position: relative;
}

.message-area{
  overflow: scroll;
}

ul { 
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  padding: 0px;
  justify-content: space-between;
}

textarea {
margin: 20px;
}
